.AgenCard {
  width: 100%;
  display: block;
  background-color: #fff;
  padding: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.AgenCard_name {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  color: #b8a246;
}

.AgenCard_address {
  font-size: .875rem;
  line-height: 1.25rem;
}

.AgenCard_bar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #b8a246;
}


@media (min-width: 48em) {
  .AgenCard {
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 14rem;
    overflow: hidden;
    padding: 10rem 1rem 4rem;
    text-align: center;
    transition: transform 250ms ease;
  }

  .AgenCard_container {
    transition: transform 250ms ease;
  }
  .AgenCard:hover .AgenCard_container,
  .AgenCard:focus .AgenCard_container {
    transform: translate3d(0,-1rem,0);
    transition: transform 250ms ease;
  }
  .AgenCard_bar {
    bottom: 2rem;
    display: inline-block;
    height: 4px;
    left: 5rem;
    top: auto;
    width: 5rem;
  }
}
