@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html {
  background-color: #f3f3f3;
  font-size: 100%;
  font-family: 'Roboto';
  color: #444;
}

body {
  font-size: 0.875rem;
  line-height: 1.5;
}
