@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,600,700|Maitree:400,600'

html {
  background-color: #fff;
  font-size: 100%;
  font-family: 'Archivo';
  color: #444;
}

body {
  font-size: 0.875rem;
  line-height: 1.5;
}

article {
  font-family: 'Maitree', serif;
  font-size: 1rem;
  line-height: 1.65;
}

.primary {
  color: #b8a246;
}

@media (min-width: 960px) {
  .w-40-l {
    width: 40%;
  }

  .w-60-l {
    width: 60%;
  }
  .ft--4 {
    transform: translateY(-2rem);
  }
  .bg-white-l {
    background-color: #fff;
  }
}
